<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>net.mazz.camelizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.2</string>
	<key>CodaAuthorString</key>
	<string>Massimo Cassandro</string>
	<key>CodaDescriptionString</key>
	<string>CamelCase e altre utilità</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A317</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A317</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^&gt;</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>CamelCase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>camelizer.php</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>8368F511-0C7B-4D1C-891F-6491F0391BC3</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>CamelCase + php array</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>camelizer_php_array.php</string>
			<key>uuid</key>
			<string>011C8506-00CA-476C-BBBC-1A546C3E7A37</string>
		</dict>
	</array>
</dict>
</plist>
